@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.button {
  display: flex;
  justify-content: center;
  color: #fff;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background: linear-gradient(
    228deg,
    rgba(178, 104, 232, 1) 0%,
    rgba(0, 193, 241, 1) 100%
  );
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0px 0px rgba(105, 215, 255, 0.5);
  align-items: center;
  border: 0;
  cursor: pointer;
}

/* Thêm hiệu ứng shake khi hover */
.button:hover svg {
  animation: shake 0.4s ease;
}
